doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title HTMX Matters
        script(src='https://unpkg.com/htmx.org@1.9.10' integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC' crossorigin='anonymous')
    body
        div(class='min-h-screen')
            #ycode-generated-app.contents
                div(class='min-h-full')
                    div(class='bg-gray-800 pb-32')
                        div(class='bg-gray-800 max-w-7xl mx-auto px-0 md:px-6 lg:px-8')
                            div(class='border-b border-gray-700')
                                div(class='flex h-16 items-center justify-between px-4 md:px-0')
                                    div(class='flex items-center')
                                        div(class='flex-shrink-0')
                                            img.h-8.w-8(src='https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500' alt='Your Company' sizes='64px' class='max-w-full')
                                        div(class='hidden md:block lg:block')
                                            div(class='space-x-4 ml-10 flex items-baseline')
                                                a(class='bg-gray-900 text-white rounded-md px-3 py-2 font-medium text-sm') Matters
                                                a(class='text-gray-300 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white text-sm') Billing
                                                a(class='text-gray-300 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white text-sm') Links
                                                a(class='text-gray-300 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white text-sm') Calendar
                                                a(class='text-gray-300 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white text-sm') Reports
                                    div(class='hidden md:block lg:block')
                                        div(class='ml-4 flex items-center md:ml-6')
                                            button(type='button' class='border border-transparent inline-block relative rounded-full bg-gray-800 p-1 text-gray-400 focus:ring-offset-2 focus:ring-offset-gray-800 hover:text-white focus:outline-none focus:ring-2')
                                                span(class='absolute -inset-1.5')
                                                span.sr-only View notifications
                                                i.h-6.w-6
                                                    svg.h-6.w-6(fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true')
                                                        path(stroke-linecap='round' stroke-linejoin='round' d='M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0')
                                            div(class='relative ml-3')
                                                div
                                                    button#user-menu-button(type='button' class='border border-transparent flex max-w-xs items-center rounded-full bg-gray-800 text-sm focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-none focus:ring-2')
                                                        span(class='absolute -inset-1.5')
                                                        span.sr-only Open user menu
                                                        img.h-8.w-8.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80' sizes='64px')
                                                div(class='ring-1 ring-opacity-5 absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring ring-black transform focus:outline-none')
                                                    a#user-menu-item-0(class='block px-4 py-2 text-sm text-gray-700') Your Profile
                                                    a#user-menu-item-1(class='block px-4 py-2 text-sm text-gray-700') Settings
                                                    a#user-menu-item-2(class='block px-4 py-2 text-sm text-gray-700') Sign out
                                    div(class='-mr-2 flex md:hidden')
                                        button(type='button' class='inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 focus:ring-offset-2 focus:ring-offset-gray-800 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2')
                                            span(class='absolute -inset-0.5')
                                            span.sr-only Open main menu
                                            i(class='block h-6 w-6')
                                                svg(class='block h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true')
                                                    path(stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5')
                                            i(class='hidden h-6 w-6')
                                                svg(class='hidden h-6 w-6' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true')
                                                    path(stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12')
                            #mobile-menu(class='border-b border-gray-700 md:hidden')
                                div(class='space-y-1 px-2 pt-3 pb-3')
                                    a(class='bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium') Dashboard
                                    a(class='text-gray-300 block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-700 hover:text-white') Team
                                    a(class='text-gray-300 block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-700 hover:text-white') Projects
                                    a(class='text-gray-300 block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-700 hover:text-white') Calendar
                                    a(class='text-gray-300 block rounded-md px-3 py-2 text-base font-medium hover:bg-gray-700 hover:text-white') Reports
                                div(class='border-t border-gray-700 pb-3 pt-4')
                                    div(class='flex items-center px-5')
                                        div(class='flex-shrink-0')
                                            img.h-10.w-10.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80' sizes='80px')
                                        div(class='ml-3')
                                            div(class='text-base font-medium leading-none text-white') Tom Cook
                                            div(class='text-sm font-medium leading-none text-gray-400') tom@example.com
                                        button(type='button' class='border border-transparent inline-block relative ml-auto flex-shrink-0 rounded-full bg-gray-800 p-1 text-gray-400 focus:ring-offset-2 focus:ring-offset-gray-800 hover:text-white focus:outline-none focus:ring-2')
                                            span(class='absolute -inset-1.5')
                                            span.sr-only View notifications
                                            i.h-6.w-6
                                                svg.h-6.w-6(fill='none' viewBox='0 24 24' stroke-width='1.5' stroke='currentColor' aria-hidden='true')
                                                    path(stroke-linecap='round' stroke-linejoin='round' d='M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0')
                                    div(class='space-y-1 mt-3 px-2')
                                        a(class='block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white') Your Profile
                                        a(class='block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white') Settings
                                        a(class='block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white') Sign out
                        div(class='pt-10 pb-10')
                            div(class='max-w-7xl mx-auto px-4 md:px-6 lg:px-8')
                                h1.font-bold.tracking-tight.text-white(class='text-[30px]') Matters
                    div(class='-mt-32')
                        div(class='max-w-7xl mx-auto px-4 pb-12 md:px-6 lg:px-8 min-h-screen')
                            div(class='rounded-lg bg-white px-5 py-6 shadow md:px-6 lg:px-6 h-full min-h-screen')
                                div(class='px-4 md:px-6 lg:px-8')
                                    div(class='block items-start md:flex md:items-center lg:block lg:items-start')
                                        div(class='flex-auto')
                                        div(class='mt-4 ml-0 flex-auto md:mt-0 md:ml-16 lg:ml-16')
                                        form(class='flex-col mb-0')
                                            div
                                                div(class='hidden md:hidden lg:hidden')
                                                    label.sr-only(class='text-sm tracking-wide') Select a tab
                                                    select#tabs.border.border-gray-300.rounded-md.w-full(class='focus:outline-none text-sm tracking-wide leading-5 border-opacity-15 text-black focus:border-opacity-50 disabled:opacity-50 focus:border-indigo-500 focus:ring-indigo-500')
                                                        option Select...
                                                div(class='hidden md:block lg:block')
                                                    div(class='space-x-4 flex')
                                                        a(class='text-gray-500 rounded-md font-medium hover:text-gray-700 text-sm pr-3 pt-2 pb-2 pl-3') Helbing
                                                        a(class='text-gray-500 rounded-md px-3 py-2 font-medium hover:text-gray-700 text-sm') Arnold Smith
                                                        a(class='bg-indigo-100 text-indigo-700 rounded-md px-3 py-2 font-medium text-sm') GM Law
                                                        a(class='text-gray-500 rounded-md px-3 py-2 font-medium hover:text-gray-700 text-sm') Blitt & Gaines
                                div(class='flow-root mt-8')
                                    div(class='overflow-x-auto -mx-4 -my-2 md:-mx-6 lg:-mx-8')
                                        div(class='inline-block align-middle min-w-full py-2 px-0 md:px-6 lg:px-8 min-h-screen')
                                            table(class='divide-y divide-gray-300 min-w-full')
                                                thead.font-bold(class='border-b border-black border-opacity-10')
                                                    tr(class='divide-x border-black border-opacity-10')
                                                        th(class='pl-4 pr-3 text-left text-sm font-semibold text-gray-900 pt-3.5 pb-3.5 md:pl-0 lg:pl-0')
                                                            span(class='text-sm') Case No
                                                        th(class='pl-3 pr-3 text-left text-sm font-semibold text-gray-900 pt-3.5 pb-3.5')
                                                            span(class='text-sm') Caption
                                                        th(class='text-left text-sm font-semibold text-gray-900 px-3 py-2')
                                                            span(class='text-sm') County
                                                        th(class='text-left text-sm font-semibold text-gray-900 px-3 py-2')
                                                            span(class='text-sm') Filing Date
                                                tbody(class='divide-y divide-gray-200 divide-opacity-10')
                                                    tr(class='divide-x border-black border-opacity-10')
                                                        td(class='whitespace-nowrap pt-4 pb-4 pl-4 pr-3 text-sm font-medium text-gray-900 md:pl-0 lg:pl-0')
                                                            span(class='text-sm') Lindsay Walton
                                                        td(class='whitespace-nowrap px-3 pt-4 pb-4 text-sm text-gray-500')
                                                            span(class='text-sm') Front-end Developer
                                                        td(class='whitespace-nowrap text-sm text-gray-500 px-3 py-2')
                                                            span(class='text-sm') lindsay.walton@example.com
                                                        td(class='whitespace-nowrap text-sm text-gray-500 px-3 py-2')
                                                            span(class='text-sm') Member
                                                        td(class='relative whitespace-nowrap pr-4 text-right text-sm font-medium md:pr-0 lg:pr-0 py-2 pl-0')
                                                            a(class='text-indigo-600 hover:text-indigo-900')
                                                            div(class='inline-block relative text-left')
                                                                div
                                                                    button#menu-button(type='button' class='border border-transparent rounded-full text-gray-400 grid focus:ring-offset-2 focus:ring-offset-gray-100 pb-2 hover:text-gray-600 focus:outline-none focus:ring-2 px-0 bg-opacity-100 bg-white')
                                                                        span.sr-only Open options
                                                                        i.transform(class='h-5 w-5 mr-6')
                                                                            svg.h-5.w-5(viewBox='0 0 20 20' fill='currentColor' aria-hidden='true')
                                                                                path(d='M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z')
                                                                div(class='ring-1 ring-opacity-5 absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring ring-black transform focus:outline-none')
                                                                    div(class='pt-1 pb-1')
                                                                        a#menu-item-0(class='text-gray-700 block px-4 py-2 text-sm') Account settings
                                                                        a#menu-item-1(class='text-gray-700 block px-4 py-2 text-sm') Support
                                                                        a#menu-item-2(class='text-gray-700 block px-4 py-2 text-sm') License
                                                                        form(class='flex-col mb-0')
                                                                            button#menu-item-3(type='button' class='border border-transparent text-gray-700 block w-full px-4 py-2 text-left text-sm tracking-wide rounded border-transparent focus:outline-none')
                                                                                span(class='text-sm') Sign out
